{% extends 'app/index.html' %} {% block content %} {% load staticfiles %}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a>
        </li>
        <li class="active">Project/Flavors</li>
    </ol>
</div>
<!--/.row-->


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Flavors</h1>
    </div>
</div>
<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Flavors List</div>
            <div class="panel-body">
                <div class="bootstrap-table">
                    <div class="fixed-table-container">
                        <div class="fixed-table-header">
                            <table></table>
                        </div>
                        <div class="fixed-table-body">
                            <div class="fixed-table-loading" style="top: 37px; display: none;">
                                Loading, please wait…
                            </div>
                            <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                                data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                                data-sort-order="desc" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4">
                                            <div class="th-inner sortable">Item ID</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th colspan="4">
                                            <div class="th-inner sortable">Item Name<span class="order"><span class="caret" style="margin: 10px 5px;"></span></span>
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th colspan="4">
                                            <div class="th-inner sortable">
                                                View Info
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in flavors %}
                                    <tr class="no-records-found">
                                        <td colspan="4">
                                            <div class="th-inner sortable">{{ f.id }}</div>
                                            <div class="fht-cell"></div>
                                        </td>
                                        <td colspan="4">
                                            <div class="th-inner sortable">{{ f.name }}</div>
                                            <div class="fht-cell"></div>
                                        </td>
                                        <td colspan="1">
                                            <button type="submit" class="btn btn-info">
                                                <a href=" {% url 'flavor' 1 %}">View Info </a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--/.row-->
{% endblock content %}